body{font-family:Arial;color:grey;background:white;line-height:32px;}
a{color:tomato;text-decoration:none;}
a:hover{text-decoration:underline;}
.heading {
   text-align: center;
   background-color:#05e0fb;
   border: 2px solid black;
}
  
.left {
/*   float: left;*/
   padding: 0px 10px 0px 0px;
/*   width: 190px;*/
}
.left ul{list-style:none;margin-left:0px;padding-left:0px;}
.left ul li{display:inline-block;}
.left a:hover{background:tomato;color:lightgrey;}
.left a{background:lightgrey;text-decoration:none;color:white;padding:8px;}

.middle {

}

.middle p{background:lightgrey;padding:20px;width:680px;line-height:22px;color:grey;}

.right {
   float: right;
   padding: 0px 0px 0px 10px;
   width: 200px;
}

.footer {
   padding-top: 10px;
   text-align: center;
   clear: both;
}

.fatline {
    height: 3pt;
    color: #000;
    background-color: #000;
}

pre {
   border: 2px solid;
   background-color:#fff;
}
